header {
  border-bottom: 1px solid #ddd;
  background: #333 !important;
}

.logo-text {
  font-weight: bold;
  font-size: 24px;
  color: white !important;
}

.logo-text:hover {
  cursor: pointer;
}

