.project-card {
  margin: 5px 10px;
  width: 180px;
  min-height: 250px;
  float: left;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.project-card:hover {
  background: #f8f8f8;
}

.project-card img {
  width: 200px;
  height: auto;
}

.project-card-details {
  padding: 5px 10px;
}

.project-stats {
  position: absolute;
  bottom: 0px;
  left: 10px;
}