* {
  font-family: sans-serif;
}

body {
  background: #f2f2f2;
}

p {
  margin-bottom: 5px !important;
}

a:hover {
  cursor: pointer !important;
}

.clickable:hover {
  cursor: pointer;
}

li.clickable:hover {
  background: #f8f8f8;
}

.width-350 {
  width: 350px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}